@use 'variables' as global;

html,
body {
   box-sizing: border-box;
   height: 100%;
   padding: 0;
   margin: 0;
}

body {
   font-family: global.$font-primary;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: global.$text-secondary;
   margin: 0 auto !important;
   max-width: 500px;
}

button {
   border: 1px solid #c1c1c175;

   &:active {
      background: #c1c1c175;
      box-shadow: 0px 0px 8px 1px rgba(255, 102, 0, 0.64);
   }
}

.nowrap {
   white-space: nowrap;
}

ul {
   list-style-type: none;
}

.orange {
   color: global.$orange;
}

.green {
   color: global.$green;
}

.main_wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   min-height: 100%;
   max-height: 100vh;
   background: global.$bg-secondary;
   background: global.$bg-secondary-gradient;
}

.wrapper {
   box-sizing: border-box;
   height: 97vh;
   flex-grow: 1;
   overflow: hidden;
}
