@use '../../variables' as global;

.wrapper {
   overflow-y: hidden;
   height: 97vh;
   border-radius: 6px;
}

.content {
   height: 100%;
   position: relative;
   overflow-y: scroll;
}

.wordList {
   background: rgba(216, 216, 216, 0.3);
   padding: 2px 0 120px 0;
   margin: 0 auto;
   height: fit-content;
}

.wordListElement {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   box-sizing: border-box;
   background: #fff;
   margin: 6px 5px 6px;
   border-radius: 15px;
   min-height: 65px;
   padding: 14px;
}

.word-name,
.word-translate {
   margin: 3px;
}

.word-name {
   font-weight: 500;
   color: global.$text-secondary;
}

.word-translate {
   font-weight: 500;
   color: global.$text-secondary;
}

.word-description {
   span {
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: global.$menu-secondary;
   }
}
