@use '../../variables' as global;


.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1.4fr;
  height: 96.8vh;
  background: #ffffff;
  box-shadow: 0px 0px 44px rgba(148, 146, 120, 0.23);
  border-radius: 20px;
  text-align: center;
  align-items: center;

  button {
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
  }
}

.navigate-back {
  font-size: 1rem;
  padding: 5px 8px;
  margin: 0 3%;
  border-radius: 4px;

  span {
    font-size: 0.78rem;
  }
}

.button {
  font-size: 2rem;
  padding: 0 25px;
  margin: auto;
  border-radius: 8px;
  background: black;
  color: white;
  width: 150px;
  text-transform: uppercase;
}

.input-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  &:first-of-type {
    align-self: end;
  }

  input,
  label {
    font-family: 'Roboto Mono', monospace;
  }

  input {
    font-size: 14px;
    text-align: center;
    font-size: 2.6rem;
    border: none;
    background: none;
    outline: none;
    width: 68%;
    border-bottom: 3px dotted #b3b3b3;
    margin: 10px auto;

    &::placeholder {
      font-size: 20px;
    }
  }

  label {
    background: #ffffff;
    align-self: center;
    color: #60c1b6;
    width: 50%;
    height: 68px;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0 10px;
  }
}
