@use '../../styles/variables' as global;

.wrapper {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 2fr 2fr 1.4fr;
   height: calc(100vh - 34px);
   min-height: calc(100vh - 34px);
   max-height: 100vh;

   background: #ffffff;
   box-shadow: 0px 0px 44px rgba(148, 146, 120, 0.23);
   //  border-radius: 20px;
   text-align: center;
   align-items: center;

   button {
      font-family: 'Roboto Mono', monospace;
      font-weight: 800;
   }
}

.navigate-back {
   font-size: 1rem;
   padding: 5px 8px;
   margin: 0 auto 24px;
   width: 96%;
   border-radius: 4px;

   box-shadow: 0 0.1em 0.5em -0.125em rgba(10, 10, 10, 0.1),
      0 0px 0 1px rgba(10, 10, 10, 0.02);

   .textIcon {
      line-height: 1.4rem;
   }
}

.button {
   font-size: 1rem;
   width: 130px;
}

.input-section {
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;

   &:first-of-type {
      align-self: end;
   }

   input,
   label {
      font-family: 'Roboto Mono', monospace;
   }

   input {
      font-size: 14px;
      text-align: center;
      font-size: 1.6rem;
      border: none;
      background: none;
      outline: none;
      width: 68%;
      border-bottom: 3px dotted #b3b3b3;
      margin: 10px auto;

      &::placeholder {
         font-size: 20px;
      }
   }

   label {
      align-self: center;
      color: #60c1b6;
      width: 50%;
      height: 68px;
      font-size: 1rem;
      padding: 0 10px;
   }
}
