@use '../../variables' as global;

.header {
   display: flex;
   height: 34px;
   justify-content: space-between;
   align-items: center;
   background: global.$menu-secondary;
   padding: 0 5px;
   color: global.$menu-text-secondary;

   li {
      padding: 0 4px;
      padding: 4px 1.1em;
      margin: auto 4px;
      font-size: 0.7em;
      cursor: pointer;
      border-bottom: 1px solid #c1c1c175;
      list-style-type: none;

      &:hover {
         border-bottom: 0.5px solid global.$menu-text-secondary;
      }

      &:active {
         background: transparent;
         box-shadow: 0px 0px 8px 1px rgba(255, 102, 0, 0.64);
      }

      &::marker {
         padding: 0;
         margin: 0;
      }
   }
}

.sortingSelector {
   cursor: pointer;
   width: 100%;
   height: 100%;
   min-width: 15px;
   min-height: 15px;
   font-size: 0; // hides the text for the current selection
   border: 0;
   background: #000; // TODO: replace with an appropriate image
   color: white;
   -moz-appearance: none;
   -webkit-appearance: none;

   .badge {
      display: none;
   }
}

.sortingSelector::-ms-expand {
   display: none;
}
