@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.green {
  color: yellowgreen;
}

.red {
  color: orangered;
}

.hidden {
  visibility: hidden;
}

button {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  border: 1px solid #c1c1c175;

  &:active {
    background: #c1c1c175;
    box-shadow: 0px 0px 8px 1px rgba(255, 102, 0, 0.64);
  }
}

ul {
  list-style-type: none;
}

.main-container,
.test-interactive,
.test-results {
  height: 97vh;
  border-radius: 6px;
}

.main-container {
  overflow-y: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 34px;
    align-items: center;
    padding: 5px;
    background: rgba(216, 216, 216, 0.3);

    &__button {
      padding: 2px 4px;
      display: block;
      margin: auto 4px;
      background: #fff;
    }
  }

  &__content {
    height: 100%;
    position: relative;
    overflow-y: scroll;

    &__wordList {
      background: rgba(216, 216, 216, 0.3);
      padding: 2px 0 120px 0;
      margin: 0 auto;
    }

    &__wordListElement {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      box-sizing: border-box;
      background: #fff;
      margin: 6px 5px 6px;
      border-radius: 15px;
      min-height: 65px;
      padding: 14px;

      &_name,
      &_translate {
        margin: 3px;
      }

      &_name {
        font-weight: 500;
        color: black;
      }

      &_translate {
        font-weight: 500;
        color: gray;
      }

      &_circle {
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: green;
      }
    }
  }
}

.test-results,
.test-interactive,
.test-interactive__testUlList {
  display: flex;
  align-items: center;
}

.test-interactive,
.test-results {
  flex-direction: column;
}

.test-interactive {
  text-align: center;

  &__header,
  &__description {
    font-family: 'Helvetica Neue', sans-serif;
    span {
      display: block;
      padding: 10px;
    }
  }

  &__tested-word {
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 500;
    padding: 50px;

    &::after {
      height: 1px;
      width: 200%;
      background-color: blueviolet;
      display: block;
      content: '';
      margin-left: -50%;
    }
  }

  &__testUlList {
    justify-content: center;
    flex-wrap: wrap;

    &_listElement {
      margin: 15px;
      opacity: 0;

      &.show {
        opacity: 1;
        transition: 1s all ease;
      }

      span {
        cursor: pointer;
        display: block;
        background-color: #f1f1f1;
        padding: 10px 5px;
        min-width: 40px;
        text-align: center;
        border-radius: 15px;
        border: 2px solid green;
        width: fit-content;

        &:active {
          background-color: black;
          color: #fff;
          border-color: greenyellow;
        }
      }
    }
  }
}

.test-results {
  justify-content: center;

  .add-text {
    font-weight: bold;
    display: block;
    font-size: 14px;
    text-align: center;
  }

  &__button_back,
  &__arrow_show-stats {
    margin: 5px auto;
    cursor: pointer;
  }

  &__arrow_show-stats {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
      'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background: transparent;
    border: none;
    margin: -5px 0;
    padding: 3px;
    position: relative;

    span {
      position: absolute;
      top: 15%;
    }

    &:hover,
    &:active {
      color: yellowgreen;
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }

  &__history {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
    }
  }
}

.message {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: red;
  font-size: 14px;
  margin: 20px;
}

@media screen and (min-width: 560px) {
  body {
    margin: auto;
    margin-top: 10px;
    max-width: 500px;
  }
}
